<div class="container-fluid top-page-style">
  <div class="row">
    <div class="col-lg-4 mr-lg-5 ml-lg-5">
      <div class="font-weight-bold mt-lg-5 top-page">
        <h1 class="text-nowrap d-inline-block top-page-message"><strong>お菓子を止めたいあなたに</strong></h1>
        <div class="start-button mt-3">
          <div class="mt-lg-5">
            <%=link_to("今すぐ始める", new_user_registration_path, class: "btn btn-info top-page-button-head")%>
          </div>
          <div>
            <%=link_to("ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-primary top-page-button-head")%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-5 ml-lg-5 pl-lg-5 top-page-image">
      <%= image_tag 'Diet-amico.png', class: "img-fluid" %>
    </div>
  </div>
</div>
<div class="container-fluid top-detail text-white my-5">
  <div class="row justify-content-around">
    <div class="col-lg-5 text-center">
      <div class="mt-5 mb-3 font-weight-bold text-white">
        <h4 class="d-inline-block text-left"><strong>こんな方におすすめ</strong></h4>
      </div>    
    </div>
  </div>
  <div class="row text-white font-weight-bold justify-content-center pb-4">
    <div class="col-lg-3">
      <div class="service-detail-description text-center">
        <%= image_tag 'チームアイコン3.png', class: "img-fluid" %>
        <h5 class="text-left font-weight-bold mt-4 mb-4">お菓子を止めたい仲間を求めている方</h5>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-detail-description text-center">
        <%= image_tag 'ユーロの貯金箱のアイコン素材.png', class: "img-fluid" %>
        <h5 class="text-left font-weight-bold mt-4 mb-4">お菓子を止めることで節約したい方</h5>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-detail-description text-center">
        <%= image_tag 'ダッシュのピクトグラム.png', class: "img-fluid" %>
        <h5 class="text-left font-weight-bold mt-4 mb-4">お菓子を止めるノウハウを短時間で入手したい方</h5>
      </div>
    </div>
  </div>   
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-lg-5 font-weight-bold">
      <h3 class="mt-5 mb-3">
        <div class="fa fa-check rounded-circle"></div>
        <strong>同じ志の仲間と協力できる環境</strong>
      </h3>
        <p>他のユーザの日々のつぶやきを見ることができ、刺激を受けることができますので、孤独に打ち勝つ環境がございます。</p>
        <%= image_tag 'Tweetstorm-amico.png', class: "img-fluid" %>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-lg-5 font-weight-bold">
      <h3  class="mt-5 mb-3">
        <div class="fa fa-check rounded-circle"></div>
        <strong>日々の積み上げを可視化</strong>
      </h3>
      <p>サービス利用開始からお菓子をやめた日数や節約金額だけでなく、1ヶ月間のお菓子を止めた日数が表示されますので、日々の努力が可視化され、モチベーション維持に繋がります。</p>
      <%= image_tag 'Visual data-rafiki.png', class: "img-fluid" %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 font-weight-bold">
      <h3 class="mt-5 mb-3">
        <div class="fa fa-check rounded-circle"></div>
        <strong>効率的かつ効果的な情報収集</strong>
      </h3>
      <p>お菓子を止めるために必要な情報を定期的に提供しておりますので、ご自身で探す手間を省けます。</p>
      <%= image_tag 'Data report-amico.png', class: "img-fluid" %>
    </div>
  </div>
</div>
<div class="container-fluid top-detail other-service">
  <div class="row justify-content-around">
    <div class="col-lg-5 text-center">
      <div class="mt-5 mb-3 font-weight-bold text-white">
        <h4 class="d-inline text-left"><strong>他にもお菓子を止めるための仕組みがあります</strong></h4>
      </div>    
    </div>
  </div>
  <div class="row text-white font-weight-bold justify-content-center pb-4">
    <div class="col-lg-3">
      <div class="service-detail-description">
        <h4 class="text-center font-weight-bold mt-4 mb-4">いいね機能</h4>
        <p>他のユーザのつぶやきに対していいねをすることやいいねをもらったりすることで、お互いに刺激を与え合えます。</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-detail-description">
        <h4 class="text-center font-weight-bold mt-4 mb-4">コメント機能</h4>
        <p>他のユーザのつぶやきに対して、コメントをすることで、他のユーザとのコミュニケーションを取ることができます。</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-detail-description">
        <h4 class="text-center font-weight-bold mt-4 mb-4">ランキング機能</h4>
        <p>1ヶ月間のお菓子を止めた日数を元にランキング表示されるため、日々の努力が可視化されます。</p>
      </div>
    </div>
  </div>
  <div class="row text-white font-weight-bold justify-content-center pb-4">
    <div class="col-lg-3">
      <div class="service-detail-description">
        <h4 class="text-center font-weight-bold mt-4 mb-4">申告機能</h4>
        <p>お菓子を食べてしまったことを申告できます。申告することで、マイページで食べてしまった日数を管理できます。</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="service-detail-description">
        <h4 class="text-center font-weight-bold mt-4 mb-4">検索機能</h4>
        <p>検索バーにキーワードを入力していただければ、気になるユーザのつぶやきを簡単に検索することができます。</p>
      </div>
    </div>
  </div>  
</div>
<div class="container">
  <div class="row my-5 justify-content-around">
    <div class="col-lg-5 font-weight-bold text-center">
      <h2 class="mb-4"><strong>Stop Sweetsを始めましょう</strong></h2>
      <h4 class="mb-4 text-danger"><strong>最短1分で登録完了！</strong></h4>
        <div>
          <%=link_to("今すぐ始める", new_user_registration_path, class: "btn btn-info top-page-button")%>
        </div>
        <div>
          <%=link_to("ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-primary top-page-button")%>
        </div>
      </div>
    </div>
  </div>
</div>