<tr> 
  <td class="align-middle text-center rank-info">
    <%= user.rank %>
  </td>
  <td class="align-middle user-name-diplays">
    <%= display_user_icon(user, "show-user-image") %>
    <div class="d-inline-block">
      <strong><%= link_to user.name, user_path(user.id), class:"link_under_none align-middle"%></strong>
    </div>
  </td>
  <td class="align-middle text-center rank-info-continue">
    <%= user.stop_day %>
  </td>
  <td class="align-middle text-center">
    <%= display_crown(user.rank) %>
  </td>
</tr>