<%= form_with model: @user do |f| %>
  <div class="form_group">
      <%= f.label :name, "プロフィール画像を選択" %>
      <%= f.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
  </div>
  <div class="form_group">
      <%= f.label :remove_image, "プロフィール画像を削除" %>
      <%= f.check_box :remove_image %>
  </div>
  <div class="form_group">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>
  <div class="form_group">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>
  <div class="form_group">
    <%= f.label :cost, "1日のお菓子にかかっている費用" %>
    <%= f.number_field :cost %>
  </div>
  <%= f.submit "保存", data: { confirm: "更新しますか？"} %>
<% end %>