<div class="container">
  <div class="row">
  <div class="col-lg-3"></div>
    <div class="col-lg-7">
      <table class="table">
        <thead class="table-head text-white bg-secondary">
          <tr>
            <th width= 20% class="text-center">順位</th>
            <th width= 40% class="rank-user-name">ユーザー名</th>
            <th width= 30% class="text-center">継続日数</th>
            <th width= 10% class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr> 
              <td class="align-middle text-center rank-info">
                <%= user.rank %>
              </td>
              <td class="align-middle user-name-diplays">
                <% if user.image? %>
                  <%= image_tag user.image.url, class: "show-user-image rounded-circle" %>
                <% else %>
                  <%= image_tag 'no-image.png', class: "show-user-image rounded-circle" %>
                <% end %>
                <div class="d-inline-block">
                  <strong><%= link_to user.name, user_path(user.id), class:"link_under_none align-middle"%></strong>
                </div>
              </td>
              <td class="align-middle text-center rank-info-continue">
                <%= user.stop_day %>
              </td>
              <td class="align-middle text-center">
                <%= display_crown(user.rank) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>