<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-lg-4 mb-lg-5 mr-lg-5 mb-5">
      <% if current_user.id == @user.id %>
        <div class="text-right">
          <%=link_to("お菓子を食べた", update_eat_day_user_path(@user), method: :patch, class: "btn btn-primary mt-3")%>
        </div>
      <% end %>  
      <div class="user-image text-center mb-4">
        <%= display_user_icon(@user, "show-image") %>
      </div>
      <div class="text-center mb-5">
        <h4><strong><%= @user.name %></strong></h4>
      </div>
      <table class="table table-striped table-bordered">
        <% if current_user.id == @user.id %>
          <tr>
            <th class="h5"><strong>メールアドレス</strong></th>
          </tr>
          <tr>
            <th class="font-weight-normal"><%= @user.email %></th>
          </tr>
        <% end %>
        <tr>
          <th class="h5"><strong>サービス利用開始日</strong></th>
        </tr>
        <tr>
          <th class="font-weight-normal"><%= l @user.created_at %></th>
        </tr>
        <tr>
          <th class="h5"><strong>サービス利用開始からお菓子を止めた日数</strong></th>
        </tr>
        <tr>
          <th class="font-weight-normal"><%= @user.calc_stop_day %>日</th>
        </tr>
        <tr>
          <th class="h5"><strong>サービス利用開始から節約した金額</strong></th>
        </tr>
        <tr>
          <th class="font-weight-normal"><%= @user.save_money %>円</th>
        </tr>
        <tr>
          <th class="h5"><strong>今月のお菓子を止めた日数</strong></th>
        </tr>
        <tr>
          <th class="font-weight-normal"><%= @user.calc_stop_day_month %>日</th>
        </tr>
        <tr>
          <th class="h5"><strong>今月の節約した金額</strong></th>
        </tr>
        <tr>
          <th class="font-weight-normal"><%= @user.save_money_month %>円</th>
        </tr>
      </table>
      <% if current_user.id == @user.id %>
        <div class="mypage-button-info">
          <%=link_to("編集", edit_user_registration_path, class: "btn btn-info mypage-button")%>
          <%=link_to("削除", user_registration_path, method: :delete, class: "btn btn-info mypage-button", data: { confirm: '本当に削除しますか？' } )%>
        </div>
      <% end %>
    </div>
    <div class="col-lg-3 ml-lg-5 mt-5 mb-5">
      <% if @posts.present? %>
        <h5 class=" mt-lg-5"><strong>つぶやき一覧</strong></h5>
        <div class="mypage-content-scroll">
          <%= render partial: 'post', collection: @posts %>
        </div>
      <% end %>
    </div>
  </div>
</div>

