<%= render partial: 'layouts/flash' %>
<%= button_to 'お菓子を食べた', update_eat_day_user_path(@user), method: :patch %>
<% if @user.image? %>
  <%= image_tag @user.image.url, class: "show_image" %>
<% else %>
  <%= image_tag 'no-image.png', class: "show_image" %>
<% end %>
<p><%= @user.name %></p>
<h2>メールアドレス</h2>
<p><%= @user.email %></p>
<h2>開始日</h2>
  <p><%= l @user.created_at %></p>
<h2>お菓子を辞めてきた日数</h2>
  <p><%= @stop_eat_sweets_day %>日</p>
<h2>節約した金額</h2>
  <p><%= @save_money %>円</p> 
<h2>お菓子を辞めたい理由</h2>
  <p><%= @user.motivation %></p> 
<h2>お菓子を辞めれた時のイメージ画像</h2>
  <p><%= @user.goal_image %></p>

  <%= link_to '編集', edit_user_path(@user), class:"btn"  %>

