<div class="container">
  <div class="row">
    <div class="col-md-6 signup-form">
      <% if current_user.id == @user.id %>
        <div class="report-button">
          <%=link_to("お菓子を食べた", update_eat_day_user_path(@user), method: :patch, class: "btn btn-primary btn-report")%>
        </div>
      <% end %>  
      <div class="user-image">
        <div class="image-circle">
          <% if @user.image? %>
            <%= image_tag @user.image.url, class: "show-image" %>
          <% else %>
            <%= image_tag 'no-image.png', class: "show-image" %>
          <% end %>
        </div>
      </div>
      <div class="user-name-info">
        <h4><strong><%= @user.name %></strong></h4>
      </div>
      <% if current_user.id == @user.id %>
        <div class="user-other-info">
          <strong>メールアドレス</strong>
        </div>
        <div class="user-data">
          <%= @user.email %>
        </div>
      <% end %>  
      <div class="user-other-info">
        <strong>サービス利用開始日</strong>
      </div>
      <div class="user-data">
        <%= l @user.created_at %>
      </div>
      <div class="user-other-info">
        <strong>サービス利用開始からお菓子を辞めた日数</strong>
      </div>
      <div class="user-data">
        <%= @stop_eat_sweets_day %>日
      </div>
      <div class="user-other-info">
        <strong>サービス利用開始から節約した金額</strong>
      </div>
      <div class="user-data">
        <%= @save_money %>円
      </div>
      <div class="user-other-info">
        <strong>今月のお菓子を辞めた日数</strong>
      </div>
      <div class="user-data">
        <%= @stop_eat_sweets_day_month %>日
      </div>
      <div class="user-other-info">
        <strong>今月の節約した金額</strong>
      </div>
      <div class="user-data">
        <%= @save_money_month %>円
      </div>
      <% if current_user.id == @user.id %>
        <div class="mypage-button-info">
          <%=link_to("編集", edit_user_registration_path, class: "btn btn-info mypage-button")%>
          <%=link_to("削除", user_registration_path, method: :delete, class: "btn btn-info mypage-button", data: { confirm: '本当に削除しますか？' } )%>
        </div>
      <% end %>
    </div>
  </div>
</div>

