<div class="post-content">
  <%= display_user_icon_post(post.user, "show_image", user_path(post.user)) %>
  <%= render 'post_header', post: post %>
  <%= link_to(post_path(post), class: "tweet_content") do %>
    <div class="content">
      <%= post.content %>
    </div>
  <% end %>
  <%= render 'post_footer', post: post %>
</div>