<div class="tweet-time">
  <%= l post.updated_at %>
</div>
<div class="post-icon">
  <span id="post-<%= post.id %>">
    <% if post.liked_by?(current_user) %>
      <%= render "like", post: post %>
    <% else %>
      <%= render "dislike", post: post %>
    <% end %>
  </span>
</div>
<div class="comment-icon">
  <%= link_to "", post_path(post), class:"fa fa-comment fa-lg comment-style" %>
  <%= post.comments_count %>
</div>
