<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 mb-5">
      <%= link_to "コメントする", new_post_comments_path(@post), class: "btn btn-primary btn-lg btn-block btn-twitter" %>
      <div class="post-detail-content">
        <%= display_user_icon_post(@post.user, "show_image", user_path(@post.user)) %>
        <%= render 'post_header', post: @post %>
        <div class="content">
          <p><%= @post.content %></p>
        </div>
        <%= render 'post_footer', post: @post %>
      </div>
      <%= render partial: 'comment', collection: @post.comments %>
      <%= link_to("戻る", posts_path,  class: "btn btn-secondary btn-lg btn-block btn-back mt-4") %>
    </div>
  </div>
</div>